.container{
  border: 1px solid lightgray;
  width: 400px;
  height: 300px;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.mostrar{
  border-radius: 5px;
  border: 1px solid black;
  width: 300px;
  height: 70px;
  background: #ffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
